# Temperature settings.
[Temperature]
reference = 448.15
# Reference temperature for mechanical simulation (unit: K).

mode = 1
# Coupling mode.
# 0 for using integrated thermal simulator, 1 for using external temperature results.

ambient = 298.15
# Ambient temperature for thermal simulation (unit: K).

htc_top = 5000
# heat transfer coefficient of the top surface (unit: W/m2-K).

htc_bot = 50
# heat transfer coefficient of the bottom surface (unit: W/m2-K).

# Simulation configuration settings.
[Simulation]
algorithm = 1
# Choose to use 3D or 2D algorithm.
# 0 for 3D, 1 for 2D.
# 2D algorithm can only be used for warpage simulation under constant thermal loads for the moment.

bc_type = 0
# Choose the type of boundary condition for mechanical simulation.
# 0 for rigid body constraints, 1 for fixing the bottom surface, 2 for fixing the top surface
# Rigid body constraints are recommended for warpage simulation

# Mesh configuration settings.
[MeshConfig]
mesh_size = 1e-3
# Maximum size of the mesh (unit: m).
# Recommended value: 1e-4 to 1e-2, depending on the lateral dimension.

is_recombine = True
# Whether to recombine the triangular mesh into quadrilateral or not.
# If meshing is unsuccessful, change this setting into False.

max_thickness = 0.003
# Maximum thickness of mesh in 'Bulk' components (unit: m).
# Recommended value: 1e-4 to 1e-2, depending on layer thickness.

tiers_active = 2
# Number of tiers for active layers to improve accuracy.
# Recommended value: 1-4, depending on layer complexity.

tiers_bulk = 2
# Number of tiers for bulk layers to improve accuracy.
# Recommended value: 1-2, depending on layer complexity.

tiers_chiplet = 2
# Number of tiers for chiplet layers to improve accuracy.
# Recommended value: 1-2, depending on layer complexity.

unit = 3
# Scale dimensions inside the simulator by 10^{unit}

precision = 6
# Round dimensions inside the simulator to (precision-unit) decimal places

ratio_ignore = 1e-3
# Ignore fragments with volume ratio smaller than this threshold.

# Solver configuration settings
[SolverConfig]
solver_type = 0
# Type of solver.
# 0 for iterative solver (smoothed aggregation algebraic multigrid solver),
# 1 for direct solver (lu decomposition with mumps as factor matrix solver).

rtol = 1e-5
# Relative tolerance of residue.
# Invalid for the direct solver.

# atol = 1e-8
# Absolute tolerance of residue.
# Invalid for the direct solver.

max_it = 500
# Maximum number of iteration.
# Invalid for the direct solver.

is_display = True
# Whether to show iteration details or not.

# Postprocess settings
[PostProcess]
value_names = disp
# Names of values to calculate during postprocessing.
# Choose among:
# Temperature: temp
# Heat flux: h_flux (order: x, y, z)
# Displacement: disp (order: x, y, z)
# Strain: strain (order: x, y, z, yz, xz, xy)
# Stress: stress (order: x, y, z, yz, xz, xy)

planes = (1e-6 100), (351e-6 100)
# Planes to extract values from.
# Defined by tuples of z coordinate (unit: m) and resolution.
# Avoid exact coords at the interface

[Solid]
properties = thermal expansion coefficient (1/K), young modulus (N/m2), poisson ratio (1), thermal conductivity (W/m-K)
# Material properties must include in the material library.
