# Material information include the following items:
# type: Solid, Fluid, Gas, others (only Solid is supported for the moment)

# thermal conductivity (w/(m-k)): including two types
#   thermal conductivity (w/(m-k)) = k_iso
#   thermal conductivity (w/(m-k)) = k_x k_y k_z

# young modulus (N/m2): including two types
#   young modulus (N/m2) = E_iso
#   young modulus (N/m2) = E_x E_y E_z

# poisson ratio (1): including two types
#   poisson ratio (1) = rho_iso
#   poisson ratio (1) = rho_x rho_y rho_z

# shear modulus (1): must be provided is young's modulus is not isotropic
#   shear modulus (N/m2) = G_x G_y G_z

# thermal expansion coefficient (1/K): including two types
#   thermal expansion coefficient (1/K) = alpha_iso
#   thermal expansion coefficient (1/K) = alpha_x alpha_y alpha_z

[Si]
type = Solid
thermal conductivity (W/m-K) = 140
young modulus (N/m2) = 170e9
poisson ratio (1) = 0.28
thermal expansion coefficient (1/K) = 2.6e-6

[Substrate]
type = Solid
thermal conductivity (W/m-K) = 5 5 5
young modulus (N/m2) = 7.6e9 7.6e9 7.6e9
poisson ratio (1) = 0.32 0.32 0.32
shear modulus (N/m2) = 2.879e9 2.879e9 2.879e9
thermal expansion coefficient (1/K) = 29e-6 29e-6 29e-6

[Interposer]
type = Solid
thermal conductivity (W/m-K) = 140
volumetric heat capacity (j/(m3-k)) = 1e6
young modulus (N/m2) = 170e9
poisson ratio (1) = 0.28
thermal expansion coefficient (1/K) = 2.6e-6

[SiO2]
type = Solid
thermal conductivity (W/m-K) = 2
volumetric heat capacity (j/(m3-k)) = 2.0e6
young modulus (N/m2) = 72e9
poisson ratio (1) = 0.17
thermal expansion coefficient (1/K) = 0.5e-6

[FEOL]
type = Solid
thermal conductivity (W/m-K) = 140
volumetric heat capacity (j/(m3-k)) = 1.63e6
young modulus (N/m2) = 170e9
poisson ratio (1) = 0.28
thermal expansion coefficient (1/K) = 2.6e-6

[Cu]
type = Solid
thermal conductivity (W/m-K) = 400
volumetric heat capacity (j/(m3-k)) = 3.45e6
young modulus (N/m2) = 110e9
poisson ratio (1) = 0.35
thermal expansion coefficient (1/K) = 17e-6

[C4]
type = Solid
thermal conductivity (W/m-K) = 5
young modulus (N/m2) = 7.6e9
poisson ratio (1) = 0.32
thermal expansion coefficient (1/K) = 29e-6

[Epoxy]
type = Solid
thermal conductivity (W/m-K) = 5
young modulus (N/m2) = 7.6e9
poisson ratio (1) = 0.32
thermal expansion coefficient (1/K) = 29e-6

[BondMat]
type = Solid
thermal conductivity (W/m-K) = 5
young modulus (N/m2) = 7.6e9
poisson ratio (1) = 0.32
thermal expansion coefficient (1/K) = 29e-6

[TIM1]
type = Solid
thermal conductivity (W/m-K) = 5
young modulus (N/m2) = 7.6e9
poisson ratio (1) = 0.32
thermal expansion coefficient (1/K) = 29e-6

[EMC]
type = Solid
thermal conductivity (W/m-K) = 5
young modulus (N/m2) = 7.6e9
poisson ratio (1) = 0.32
thermal expansion coefficient (1/K) = 29e-6

[Bump]
type = Solid
thermal conductivity (W/m-K) = 5
young modulus (N/m2) = 7.6e9
poisson ratio (1) = 0.32
thermal expansion coefficient (1/K) = 29e-6

[TIM]
type = Solid
thermal conductivity (W/m-K) = 5
young modulus (N/m2) = 7.6e9
poisson ratio (1) = 0.32
thermal expansion coefficient (1/K) = 29e-6

[PCB]
type = Solid
thermal conductivity (W/m-K) = 5
young modulus (N/m2) = 7.6e9
poisson ratio (1) = 0.32
thermal expansion coefficient (1/K) = 29e-6